.gradle
.idea
build
gradle
documentation

*.trs
*.cora
*.mstrs
*.lctrs
*.txt
*.out
*.log

build.gradle

META-INF/MANIFEST.MF

out/artifacts/cora_main_jar/cora.main.jar

out/artifacts/cora_main_jar/cora.main.zip

lib/*
